.p-sidebar .p-sidebar-content {
    padding: 1rem;
    background-color: #0f0e0c;
}

.p-sidebar-header {
    background-color: #0f0e0c;
}

.p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}